# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
.venv/
env/

# Environment variables
.env

# Flask
instance/
.pytest_cache/

# Migrations (opcional)
# migrations/

# IDEs
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Node.js
node_modules/

# Vue
dist/

# Coverage
.coverage
htmlcov/

# Testing
.pytest_cache/

# SQLite
*.db
*.sqlite3