# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
.venv/
env/

# Environment variables
.env

# FastAPI / Python cache
.pytest_cache/

# Tests
tests/


# Tests cache
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Node.js
node_modules/

# Vue
dist/

# SQLite (se usar localmente)
*.db
*.sqlite3